<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [2]:
!pip install pandas

Requirement already satisfied: pandas in e:\users\shafy\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in e:\users\shafy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shafy\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\users\shafy\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\users\shafy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\users\shafy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
#!pip install ipython-sql
%load_ext sql

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

In [4]:
%sql sqlite:///RealWorldData.db

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet.  
##### To analyze the data using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [5]:
import pandas as pd
df = pd.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
df.to_sql("REPORT_TABLE", con, if_exists='replace', index=False, method='multi')

566

Double-click **here** for the solution.
<!--

import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

-->

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [6]:
# type in your query to retrieve list of all tables in the database
%sql select name from sqlite_master where type = 'table'

 * sqlite:///RealWorldData.db
Done.

[('REPORT_TABLE',)]

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [7]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select COUNT(*) from REPORT_TABLE

 * sqlite:///RealWorldData.db
Done.

[(566,)]

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [8]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('REPORT_TABLE')

 * sqlite:///RealWorldData.db
Done.

[('school_id', 'INTEGER', 7),
 ('name_of_school', 'TEXT', 4),
 ('elementary_or_high_school', 'TEXT', 4),
 ('street_address', 'TEXT', 4),
 ('city', 'TEXT', 4),
 ('state', 'TEXT', 4),
 ('zip_code', 'INTEGER', 7),
 ('phone_number', 'TEXT', 4),
 ('link_', 'TEXT', 4),
 ('network_manager', 'TEXT', 4),
 ('collaborative_name', 'TEXT', 4),
 ('adequate_yearly_progress_made_', 'TEXT', 4),
 ('track_schedule', 'TEXT', 4),
 ('cps_performance_policy_status', 'TEXT', 4),
 ('cps_performance_policy_level', 'TEXT', 4),
 ('healthy_schools_certified_', 'TEXT', 4),
 ('safety_icon_', 'TEXT', 4),
 ('safety_score', 'REAL', 4),
 ('family_involvement_icon', 'TEXT', 4),
 ('family_involvement_score', 'TEXT', 4),
 ('environment_icon_', 'TEXT', 4),
 ('environment_score', 'REAL', 4),
 ('instruction_icon_', 'TEXT', 4),
 ('instruction_score', 'REAL', 4),
 ('leaders_icon_', 'TEXT', 4),
 ('leaders_score_', 'TEXT', 4),
 ('teachers_icon_', 'TEXT', 4),
 ('teachers_score', 'TEXT', 4),
 ('parent_engagement_icon_', 'TEXT', 4),
 ('parent_engagement_score', 'TEXT', 4),
 ('parent_environment_icon', 'TEXT', 4),
 ('parent_environment_score', 'TEXT', 4),
 ('average_student_attendance', 'REAL', 4),
 ('rate_of_misconducts_per_100_students_', 'REAL', 4),
 ('average_teacher_attendance', 'REAL', 4),
 ('individualized_education_program_compliance_rate_', 'REAL', 4),
 ('pk_2_literacy', 'TEXT', 4),
 ('pk_2_math_', 'TEXT', 4),
 ('gr3_5_grade_level_math', 'TEXT', 4),
 ('gr3_5_grade_level_read_', 'TEXT', 4),
 ('gr3_5_keep_pace_read_', 'TEXT', 4),
 ('gr3_5_keep_pace_math', 'TEXT', 4),
 ('gr6_8_grade_level_math', 'TEXT', 4),
 ('gr6_8_grade_level_read', 'TEXT', 4),
 ('gr6_8_keep_pace_math', 'TEXT', 4),
 ('gr6_8_keep_pace_read', 'TEXT', 4),
 ('gr_8_explore_math', 'TEXT', 4),
 ('gr_8_explore_read', 'TEXT', 4),
 ('isat_exceeding_math_', 'REAL', 4),
 ('isat_exceeding_reading_', 'REAL', 4),
 ('isat_value_add_math', 'REAL', 4),
 ('isat_value_add_read', 'REAL', 4),
 ('isat_value_add_color_math', 'TEXT', 4),
 ('isat_value_add_color_read', 'TEXT', 4),
 ('students_taking_algebra', 'TEXT', 4),
 ('students_passing_algebra', 'TEXT', 4),
 ('_th_grade_explore_2009_', 'TEXT', 4),
 ('_th_grade_explore_2010_', 'TEXT', 4),
 ('_th_grade_plan_2009_', 'TEXT', 4),
 ('_th_grade_plan_2010_', 'TEXT', 4),
 ('net_change_explore_and_plan', 'TEXT', 4),
 ('_th_grade_average_act_2011_', 'TEXT', 4),
 ('net_change_plan_and_act', 'TEXT', 4),
 ('college_eligibility_', 'TEXT', 4),
 ('graduation_rate_', 'TEXT', 4),
 ('college_enrollment_rate', 'TEXT', 4),
 ('college_enrollment_number_of_students_', 'INTEGER', 7),
 ('general_services_route_', 'INTEGER', 7),
 ('freshman_on_track_rate', 'TEXT', 4),
 ('rcdts_code', 'INTEGER', 7),
 ('x_coordinate', 'REAL', 4),
 ('y_coordinate', 'REAL', 4),
 ('latitude', 'REAL', 4),
 ('longitude', 'REAL', 4),
 ('community_area_number', 'INTEGER', 7),
 ('community_area_name', 'TEXT', 4),
 ('ward', 'INTEGER', 7),
 ('police_district', 'INTEGER', 7),
 ('location', 'TEXT', 4)]

Double-click **here** for the solution.

<!-- Solution 

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [10]:
%sql select count(elementary_or_high_school) from REPORT_TABLE where elementary_or_high_school = 'ES';

 * sqlite:///RealWorldData.db
Done.

[(462,)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA where "Elementary, Middle, or High School"='ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [12]:
%sql select max(safety_score) as MAX_SAFETY_SCORE from  REPORT_TABLE;

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [13]:
%sql select name_of_school from REPORT_TABLE where safety_score = (select max(safety_score) from REPORT_TABLE);

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [15]:
%sql select name_of_school from REPORT_TABLE order by average_student_attendance desc LIMIT 10;

 * sqlite:///RealWorldData.db
Done.

[('John Charles Haines Elementary School',),
 ('James Ward Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Orozco Fine Arts & Sciences Elementary School',),
 ('Rachel Carson Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Andrew Jackson Elementary Language Academy',),
 ('Lenart Elementary Regional Gifted Center',),
 ('Disney II Magnet School',),
 ('John H Vanderpoel Elementary Magnet School',)]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from CHICAGO_PUBLIC_SCHOOLS_DATA \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [17]:
%sql select name_of_school, average_student_attendance from REPORT_TABLE order by average_student_attendance LIMIT 5;

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0)]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''

-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [19]:
%sql select name_of_school, average_student_attendance from REPORT_TABLE where average_student_attendance <70;

 * sqlite:///RealWorldData.db
Done.

[('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Chicago Vocational Career Academy High School', 68.8),
 ('Dyett High School', 62.5),
 ('Manley Career Academy High School', 66.8),
 ('Orr Academy High School', 66.3),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Roberto Clemente Community Academy High School', 69.6),
 ('Wendell Phillips Academy High School', 63.0)]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)

-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [21]:
%sql select community_area_name, sum(college_enrollment_rate) as TOTAL_ENROLLMENT from REPORT_TABLE group by community_area_name;

 * sqlite:///RealWorldData.db
Done.

[('ALBANY PARK', 42.9),
 ('ARCHER HEIGHTS', 61.3),
 ('ARMOUR SQUARE', 0.0),
 ('ASHBURN', 50.0),
 ('AUBURN GRESHAM', 0.0),
 ('AUSTIN', 151.2),
 ('AVALON PARK', 54.0),
 ('AVONDALE', 0.0),
 ('BELMONT CRAGIN', 105.0),
 ('BEVERLY', 0.0),
 ('BRIDGEPORT', 0.0),
 ('BRIGHTON PARK', 46.4),
 ('BURNSIDE', 0.0),
 ('CALUMET HEIGHTS', 0.0),
 ('CHATHAM', 74.0),
 ('CHICAGO LAWN', 0.0),
 ('CLEARING', 0.0),
 ('DOUGLAS', 163.4),
 ('DUNNING', 64.2),
 ('EAST GARFIELD PARK', 161.3),
 ('EAST SIDE', 50.9),
 ('EDGEWATER', 117.9),
 ('EDISON PARK', 0.0),
 ('ENGLEWOOD', 100.4),
 ('FOREST GLEN', 0.0),
 ('FULLER PARK', 0.0),
 ('GAGE PARK', 40.3),
 ('GARFIELD RIDGE', 52.9),
 ('GRAND BOULEVARD', 73.2),
 ('GREATER GRAND CROSSING', 45.1),
 ('HEGEWISCH', 0.0),
 ('HERMOSA', 35.0),
 ('HUMBOLDT PARK', 93.19999999999999),
 ('HYDE PARK', 0.0),
 ('IRVING PARK', 40.4),
 ('JEFFERSON PARK', 0.0),
 ('KENWOOD', 164.8),
 ('LAKE VIEW', 62.8),
 ('LINCOLN PARK', 75.5),
 ('LINCOLN SQUARE', 49.1),
 ('LOGAN SQUARE', 0.0),
 ('LOOP', 86.9),
 ('LOWER WEST SIDE', 48.8),
 ('MCKINLEY PARK', 0.0),
 ('MONTCLARE', 0.0),
 ('MORGAN PARK', 78.5),
 ('MOUNT GREENWOOD', 79.6),
 ('NEAR NORTH SIDE', 82.4),
 ('NEAR SOUTH SIDE', 0.0),
 ('NEAR WEST SIDE', 172.2),
 ('NEW CITY', 80.1),
 ('NORTH CENTER', 143.1),
 ('NORTH LAWNDALE', 0.0),
 ('NORTH PARK', 169.2),
 ('NORWOOD PARK', 62.2),
 ('OAKLAND', 0.0),
 ('OHARE', 0.0),
 ('PORTAGE PARK', 40.9),
 ('PULLMAN', 44.0),
 ('RIVERDALE', 60.5),
 ('ROGERS PARK', 52.1),
 ('ROSELAND', 180.3),
 ('SOUTH CHICAGO', 52.4),
 ('SOUTH DEERING', 0.0),
 ('SOUTH LAWNDALE', 316.2),
 ('SOUTH SHORE', 68.8),
 ('UPTOWN', 65.0),
 ('WASHINGTON HEIGHTS', 54.9),
 ('WASHINGTON PARK', 51.0),
 ('WEST ELSDON', 45.9),
 ('WEST ENGLEWOOD', 126.2),
 ('WEST GARFIELD PARK', 0.0),
 ('WEST LAWN', 51.3),
 ('WEST PULLMAN', 0.0),
 ('WEST RIDGE', 57.4),
 ('WEST TOWN', 85.3),
 ('WOODLAWN', 57.6)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [24]:
%sql select community_area_name, college_enrollment_rate from REPORT_TABLE order by college_enrollment_rate limit 5;

 * sqlite:///RealWorldData.db
Done.

[('SOUTH LAWNDALE', '31.3'),
 ('NEAR WEST SIDE', '32.6'),
 ('HERMOSA', '35'),
 ('ROSELAND', '36.7'),
 ('NEW CITY', '37')]

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5 

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [27]:
%sql select name_of_school, safety_score from REPORT_TABLE where safety_score is not null order by safety_score limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

Double-click **here** for the solution.

<!-- Solution SQLite:

%sql SELECT name_of_school, safety_score \
FROM CHICAGO_PUBLIC_SCHOOLS_DATA  where safety_score !='None' \
ORDER BY safety_score \
LIMIT 5

-->

### Problem 11

##### Get the hardship index for the community area of the school which has College Enrollment of 4368

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist. If the CHICAGO_SOCIOECONOMIC_DATA table does not exists, please execute the following code beforehand.

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")


%%sql 
select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_number = CPS.community_area_number 
and college_enrollment = 4368


-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist. If the CHICAGO_SOCIOECONOMIC_DATA table does not exists, please execute the following code beforehand.

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

%sql select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )
-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>
<!--
## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |
-->
<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>